*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content {
    padding: 125px 290px;

}
.content-top-list {
    font-size: 20px;
    color: #273d46;
    line-height: 36px;
    margin: 0 0 50px 0;
}
.content-top-list li{
    background: url('../img/icons/check.png') left no-repeat;
    padding: 0 0 0 30px;
}

.content-top-list li:nth-child(1){
    text-decoration: line-through;
}
.content-top-list li:nth-child(2){
    font-weight: bold;
}
.content-top-list li:nth-child(3){
    font-style: italic;
}
.content-top-list li:nth-child(4){
    text-transform: uppercase;
    margin: 0 0 50px 0;
}
.content-top-list li:nth-child(1):hover{
    text-decoration: none;
}
.content-top-list li:nth-child(2):hover{
    font-weight: normal;
    color: red;
}
.content-top-list li:nth-child(3):hover{
    font-style: normal;
}
.content-top-list li:nth-child(4):hover{
    text-transform: none;
}

.content-button {
    width: 199px;
    box-shadow: 0px 6px 20px rgba(128,183,179,0.54);
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #ffffff;
    background-color: #80b7b3;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 0px 0 50px 0;
}
.content-input {
    width: 292px;
    height: 50px;
    border: 1px solid black;
    display: block;
}
.span-button{
    padding: 0 20px 0 0;
    background: url('../img/icons/arrow.svg') right no-repeat;
}
.content-button:hover{
    background-color: #3a5855;
}
.content-button:active{
    background-color: #818181;
}
.content-input:focus{
    box-shadow: 0px 0px 10px rgba(127, 189, 213, 1);
}
